li {
  list-style: none;
  display: inline-block; }

h3,
legend,
span {
  color: #9398A9; }
  @media (min-width: 768px) {
    h3,
    legend,
    span {
      font-size: 1.3em; } }

div {
  border-bottom: 1px solid #D3D4D8; }
  @media (min-width: 768px) {
    div {
      border: none; } }

b {
  font-weight: bold; }

.social-stats {
  border-bottom: 1px solid #D3D4D8;
  padding-left: 7px; }

.settings {
  padding-bottom: 10px; }

/*Media Queries for Side-by-Side divs*/
@media (min-width: 768px) {
  .flex-div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid #D3D4D8; }

  .daily-traffic,
  .new-members,
  .message-user {
    border-right: 1px solid #D3D4D8; }

  .daily-traffic,
  .mobile-users,
  .new-members,
  .recent-activity,
  .message-user,
  .settings {
    width: 50%;
    padding-left: 7px; } }
.canvas-container {
  height: 150px;
  clear: both; }
  @media (min-width: 768px) {
    .canvas-container {
      position: relative;
      height: 300px; } }

.traffic .canvas-container {
  width: 100%; }

#hour-traffic,
#day-traffic,
#week-traffic,
#month-traffic {
  position: absolute;
  height: 100%; }
  @media (min-width: 768px) {
    #hour-traffic,
    #day-traffic,
    #week-traffic,
    #month-traffic {
      padding-bottom: 15px;
      height: 330px; } }

@media (min-width: 768px) {
  #daily-traffic {
    height: 100vh; } }

header {
  height: 70px; }

.banner {
  width: 100%; }

.profile-bar {
  background: #1E20FF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: white;
  top: 0; }
  @media (min-width: 1024px) {
    .profile-bar {
      z-index: 100; } }

.bell {
  border-right: 1px solid white;
  margin-right: 12px;
  padding: 8px 12px 8px 15px;
  height: 31.8px;
  width: 27.9px; }

.your-app {
  margin-right: auto;
  margin-left: 10px;
  font-weight: 100; }

.user-name {
  margin-right: 32px;
  color: white; }

.main-nav {
  background: #1e90ff;
  height: 50px;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 100; }
  @media (min-width: 1024px) {
    .main-nav {
      left: 0;
      min-height: 100vh;
      width: 50px; } }

.nav-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 100%; }
  @media (min-width: 1024px) {
    .nav-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 94px; } }

.icon {
  width: 25px;
  height: 25px;
  opacity: .5;
  cursor: pointer;
  padding-bottom: 10px; }
  @media (min-width: 1024px) {
    .icon {
      padding: 7px 10px 7px 10px; } }

.icon:hover {
  opacity: 1;
  border-bottom: 5px solid white; }
  @media (min-width: 1024px) {
    .icon:hover {
      border-bottom: none;
      border-left: 5px solid white; } }

@media (min-width: 1024px) {
  .banner {
    position: relative;
    z-index: 1000; } }

@media (min-width: 1024px) {
  .main-body {
    margin-bottom: 0;
    margin-left: 50px; } }

.member {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid #D3D4D8;
  padding-bottom: 5px;
  width: 90%; }

.member:last-child {
  border: none; }

.join-date {
  margin-left: auto; }

.name-email {
  display: flex;
  flex-direction: column; }

.profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px; }

/*Message User*/
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; }

legend {
  padding: 7px 0;
  font-size: 1.17em;
  font-weight: bold; }

input,
textarea {
  border: 1px solid #D3D4D8;
  border-radius: 5px;
  margin: 0 7px;
  background: #F2F3F6;
  font: 2em;
  width: 100%; }

input {
  height: 20px; }

textarea {
  margin-top: 7px; }

fieldset {
  border: none;
  margin-right: 29px; }

.forms {
  border-bottom: none; }

input {
  height: 32px; }

textarea {
  height: 100px; }

.send {
  background-color: #617DD9;
  border-radius: 5px;
  margin: 5px 7px;
  color: white;
  height: 32px; }

/*Toggle Switches*/
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2F3F6;
  border: 1px solid #617DD9;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #617DD9;
  border: 1px solid #F2F3F6; }

input:focus + .slider {
  box-shadow: 0 0 1px #617DD9; }

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.sliders {
  display: inline-block;
  width: 100%; }

.public,
.email {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.slider_label {
  padding-right: 10px; }

/*Dropbox*/
#time-zone {
  background-color: #F2F3F6;
  border-radius: 5px;
  width: 100%;
  padding: 0 7px;
  margin-top: 10px;
  height: 36px;
  font-size: 1em; }

.submit {
  background-color: #617DD9;
  border-radius: 5px;
  margin: 5px 7px;
  color: white;
  height: 32px;
  width: 50%; }

.reset {
  background-color: #ccc;
  border-radius: 5px;
  margin: 5px 7px;
  color: white;
  height: 32px;
  width: 50%; }

.buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .buttons {
      padding-top: 18px; } }

.traffic {
  padding: 0 7px;
  border-bottom: 1px solid #D3D4D8; }
  .traffic h3 {
    float: left; }
  .traffic canvas {
    height: 300px; }

#traffic-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  width: 100%; }
  #traffic-list li {
    padding: 5px;
    cursor: pointer; }
  #traffic-list li:hover {
    color: white;
    background-color: #ff8d1e;
    border-radius: 8px; }
  @media (min-width: 768px) {
    #traffic-list {
      font-size: 1.25em; } }
  @media (min-width: 1024px) {
    #traffic-list {
      display: inline;
      padding-top: 0; }
      #traffic-list li {
        padding: 0 10px; } }

.active {
  color: white;
  background-color: #ff8d1e;
  border-radius: 8px; }

.traffic-nav {
  float: right;
  overflow: auto; }

#traffic-graph {
  height: 221px; }

#alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1e90ff;
  color: white;
  clear: both;
  padding-right: 10px; }
  @media (min-width: 1024px) {
    #alert {
      margin: 10px 10px 10px 60px;
      padding: 0 7px;
      border-radius: 5px;
      font-size: 1em;
      font-weight: 100; } }

#close {
  cursor: pointer;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #ff8d1e;
  border-radius: 50%;
  text-align: center;
  height: 30px;
  width: 30px; }

.dashboard {
  float: left;
  padding: 0 20px;
  color: #a6a6a6; }
  @media (min-width: 1024px) {
    .dashboard {
      margin-left: 50px;
      height: 100%; } }

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: gainsboro;
  height: 50px;
  margin-top: 9px; }
  @media (min-width: 1024px) {
    .search {
      margin-top: -3px; } }

#search-box {
  float: right;
  width: 100%; }
  @media (min-width: 768px) {
    #search-box {
      width: 50%; } }
  @media (min-width: 1024px) {
    #search-box {
      margin-right: 20px;
      border-radius: 5px;
      font-size: 1em; } }

/*# sourceMappingURL=application.css.map */
