/*Global Stylings*/

li {
  list-style: none;
  display: inline-block;
}

h3,
legend {
  color: #9398A9;
}

div {
  border-bottom: 1px solid #D3D4D8;
}
/*Header/nav bar: stuck to the bottom on mobile devices*/
header {
  background: #191970;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.main-body {
  margin-bottom: 50px;
  margin-top: 0;
}

.main-nav {
  height: 100%;
}

.nav-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

.icon,
.bell {
  width: 20px;
  height: 20px;
}

/*Notification/Profile div*/

.profile-bar {
  background: #6482E5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  top: 0;
}

.bell {
  border-right: 1px solid white;
  margin-right: 12px;
  padding: 8px 12px 8px 15px;
}

.profile-pic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.your-app {
  margin-right: auto;
  margin-left: 10px;
}

.user-name {
  margin-right: 10px;
  color: white;
}

/*Traffic Div*/

.traffic {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  border-bottom: 1px solid #D3D4D8;
}

.traffic-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.traffic-list li {
  padding: 5px;
}

.traffic-nav {
  overflow: auto;
}


/*Social Stats*/

.social-stats {
  border-bottom: 1px solid #D3D4D8;
  padding-left: 7px;
}

/*Message User*/

form {
  display: flex;
  flex-direction: column;

}

legend {
  padding: 7px 0;
}

input,
textarea {
  border: 1px solid #D3D4D8;
  border-radius: 5px;
  margin: 0 7px;
  background: #F2F3F6;
  font: 2em;
}

.forms {
  border-bottom: none;
}

input {
  height: 32px;
}

textarea {
  height: 100px;
}

.send {
  background-color: #617DD9;
  border-radius: 5px;
  margin: 5px 7px;
  color: white;
  height: 32px;
}

.settings {
  padding-bottom: 10px;
}
/*Toggle Switches*/

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2F3F6;
  border: 1px solid #617DD9;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #617DD9;
  border: 1px solid #F2F3F6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #617DD9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sliders {
  display: inline-block;
  width: 100%;
}

/*Dropbox*/

#time-zone {
  background-color: #F2F3F6;
  border-radius: 5px;
  width: 100%;
  padding: 0 7px;
  margin-top: 10px;
  height: 36px;
  font-size: 1em;
}

.submit {
  background-color: #617DD9;
  border-radius: 5px;
  margin: 5px 7px;
  color: white;
  height: 32px;
  width: 50%;
}

.reset {
  background-color: #ccc;
  border-radius: 5px;
  margin: 5px 7px;
  color: white;
  height: 32px;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/*@media (min-width: 320px) {
  header {
    left: 0;
    height: 100%;
    width: 50px;
  }

  .nav-icons {
    flex-direction: column;
  }

  body {
    margin-bottom: 0;
    margin-left: 50px;
  }
}

Side-by-Side divs

.flex-div {
  display: flex;
  border-bottom: 1px solid #D3D4D8;
  justify-content: space-between;
}

.daily-traffic,
.new-members,
.message-user {
  border-right: 1px solid #D3D4D8;
}

.daily-traffic,
.mobile-users,
.new-members,
.recent-activity,
.message-user,
.settings {
  width: 50%;
  padding-left: 7px;
}
*/
